@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
   <p>Name: @Model.Name</P>
   <p> Preferance: @Model.DayOfWeekChoice</p>
   <p> Balance: @Model.AccountBalance</p>
   <p> Location: @Model.Adress</p>
   <p>Extra Day Pick Up: @Model.ExtraDayDateChoice</p>
   <p>Start Date of Service: @Model.StartDate</p>

   <li>
       <a asp-action="Edit" asp-route-id="@Model.Name">Edit</a>
       <a asp-action="Edit" asp-route-id="@Model.DayOfWeekChoice">Edit Day of Week choice</a>
       
   </li>


