@model TrashCollector.Models.CustomerInfoChart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerInfoChart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDayOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerDayOfWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpConfirm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpConfirm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPickUpCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPickUpCharge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerInfoChartId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
